services:

  db:
    image: mysql:8
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_DATABASE: wp_tests_db
      MYSQL_USER: wp_test
      MYSQL_PASSWORD: password
      MYSQL_HOST: 127.0.0.1
    ports:
      - 3306:3306

  s3:
    image: adobe/s3mock
    environment:
      COM_ADOBE_TESTING_S3MOCK_STORE_INITIAL_BUCKETS: "test-bucket"
      COM_ADOBE_TESTING_S3MOCK_STORE_VALID_KMS_KEYS: "arn:aws:kms:us-east-1:1234567890:key/valid-secret"
    ports:
      - 9090:9090
      - 9191:9191
