services:

  db:
    image: mysql:8
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 1
      MYSQL_DATABASE: wp_tests_db
      MYSQL_USER: wp_test
      MYSQL_PASSWORD: password
      MYSQL_HOST: 127.0.0.1
    ports:
      - 3306:3306

  gcs:
    image: fsouza/fake-gcs-server
    entrypoint: /bin/fake-gcs-server -data /data -scheme both
    ports:
      - 4443:4443
      - 8000:8000
    volumes:
      - type: volume
        source: gcs-data
        target: /data

volumes:
  gcs-data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: ./tests/data-result
